html, body {
	height: 100%;
	width: 100%;
	padding: 0;
  margin: 0;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	overflow-y: scroll;
}

.ml-10 {
	margin-left: 10px;
	padding: 10px;
	padding-left: 0;
}

.mr-10 {
	margin-right: 10px;
}

/* Sticky List Heder */

.sticky-list-header-icon .material-icons {
	font-size: 30px;
	color: inherit;
}

/* Checkbox */

[data-react-toolbox="radio-button"]{
	margin-bottom: 0;
}

/* inverted */

.cart-payment-section h5 {
	color: white;
	font-size: 17px;
}

.cart-payment-section li span {
	color: white!important;
	font-weight: bold;
}

.cart-payment-section [class^="item__"],
.cart-payment-section [class^="subheader__"]
{
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

/* .md-list-inverted [class^="item__"]:first-child {
	border-top: 1px solid rgba(255, 255, 255, .2);
} */

input, textarea,
* input, * textarea {
	font-size: 17px!important;
}


.article-pre {
	font-family: 'Helvetica Neue', arial, sans-serif !important;
}

svg, button, i {
	cursor: pointer;
}

[data-react-toolbox='card'] {
	cursor: pointer;
}

.cp * {
	cursor: pointer;
}